<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth | {{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
</head>
<body>
    <div  class="mt-5 container text-capitalize">
        <h2 class="text-info">register your account</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.username}}
            {{form.username.errors}}
            {{form.email}}
            {{form.email.errors}}
            {{form.password1}}
            {{form.passeord1.errors}}
            {{form.password2}}
            {{form.password2.errors}}
            <input type="submit" class="btn btn-outline-success mb-3">
        </form>
        <p>already have an account? <a href="{% url 'login' %}">login</a></p>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>